@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Fundo claro */
  --foreground: #171717; /* Texto escuro */
  --primary-color: #ff007f; /* Rosa do botão de play à esquerda */
  --secondary-color: #8a2be2; /* Roxo do triângulo no play central */
  --accent-color: #3045a6; /* Azul do círculo ao redor do play central */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3045a6; /* Azul do modo escuro */
    --foreground: #ededed; /* Texto claro */
    --primary-color: #ff007f; /* Rosa do botão de play à esquerda */
    --secondary-color: #8a2be2; /* Roxo do triângulo no play central */
    --accent-color: #ffffff; /* Destaque no modo escuro */
    --info-box-bg: #424242; /* Fundo para a caixa de informações no modo escuro */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
